[Desktop Entry]
Type=Action
Name[en]=Resize to 1280x720
Icon=image-x-generic
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=image/*;
Exec=convert -resize 1280x720 %f %f-resized
Name[en]=Default profile
